body{
	background-color: #D3D3D3;
}

.nav-menu{
	text-align: center;
	padding-top: 10px;
}

.nav-menu a{
	text-decoration: none;
	color: black;
}

.image{
	text-align: center;
}

.image-wrap {
	width: 30%;
	margin: 0 auto;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
 
 .comments{
	 width: 900px;
	 height: 100px;
	 background-color: white;
	 margin: 0 0 0 495px;
 }
 
 .forms{
	 text-align: center;
 }
 
 .contact-info{
	 background-color: #DCDCDC;
 }
 
 .g-recaptcha > div {
	 margin: 10px auto;
 }
 
 footer{
	 height: 50px;
	 background-color: #DCDCDC;
 }
 
 header{
	height: 40px;
	background-color: #DCDCDC; 
 }
 
 .text-left {
	 text-align: left;
 }
 .text-right {
	 text-align: right;
 }
 .text-center {
	 text-align: center;
 }
 ul.rows {
	 list-style-type: none;
	 padding: 0;
 }
 
.msg-row {
	float: left;
	width: 100%
}
 .msg-hdr {
	width: 50%;
	float: left;
	margin-bottom: 10px;
 }
 
.msg-comment {
	width: 80%;
	float: left;
}
.msg-button {
	width: 20%;
	float: left;
 }
 hr {
	 margin: 10px 0;
	 display: inline-block;
	 width: 100%;
 }
 
 input {
	padding: 10px;
	text-align: center;
	background:#ecf0f1;

}

textarea{
	display:block;
	width:550px;
	height:200px;
	margin:0 auto;
	resize:vertical;
	outline:none;
	text-align:center;
	background:#ecf0f1;
	color:rgb(52, 73, 94);
}
 
 button{
	cursor: pointer;
 }
 
 .btn-add{
	color: #fff; 
	background: rgb(119, 136, 153); 
	padding: 10 20 10 20px;
 }
 
 .btn-remove{
 }
 
 